.inner p {
    padding: 13% 0;
    margin: 0 auto;
    font-size: 17px;
}

.inner .inner-title p {
    padding-top: 4%;
    padding-bottom: 18%;
    font-weight: 700;
    font-size: 30px;
}

.inner span {
    position: absolute;
    bottom: 2%;
    text-align: justify;
    padding: 4% 18% 8% 1%;
    font-size: 12px;
}
